<div class="container message-container">
  <% target_user = @conversation.target_user(current_user) %>
  <h2 class="text-center mb-4">
    <% if target_user.role == "farmer" %>
      <%= target_user.farmer.name %>さんとのメッセージ
    <% elsif target_user.role == "general" %>
      <%= target_user.general.name %>さんとのメッセージ
    <% end %>
  </h2>

  <% if @over_ten %>
    <div class="d-flex justify-content-end mb-3">
      <%= link_to '過去のメッセージ', '?m=all', class: "btn btn-outline-secondary" %>
    </div>  
  <% end %>

  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.body.present? %>
        <div class="item">
          <div class="content">
            <div class="header">
            <strong>
              <% if message.user.role == "farmer" %>
                <%= message.user.farmer.name %>
              <% elsif message.user.role == "general" %>
                <%= message.user.general.name %>
              <% end %>
            </strong>
            <%= I18n.l DateTime.strptime(message.message_time, '%m/%d/%y at %I:%M %p'), format: '%Y/%m/%d %A %H:%M' %>
          </div>      
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= simple_format(message.body) %> /
              <% if message.user == current_user %>
                <%= message.read ? '既読' : '未読' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= form_with(model: [@conversation, @message]) do |f| %>
    <div class="my-3">
      <%= f.text_area :body, class: "form-control", placeholder: "メッセージを記入してください", rows: 5 %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div class="mb-4">
      <%= f.submit "メッセージを送る", class: "btn btn-primary w-100" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= link_to "メッセージ一覧へ", conversations_path %>
  </div>
</div>