  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <%= user.name %>
    <%= user.email %>
    <% if current_user && current_user.id != user.id %>
      <li>
        <div class="item">
          <% if user.farmer? %>
            <%= link_to user.name, overview_farmer_path(user.farmer) %>
          <% elsif user.general? %>
            <%= link_to user.name, general_path(user.general) %>
          <% end %>
          <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
        </div>
      </li>
    <li><%= render 'users/follow_form', user: user %></li>
    <% end %>
  <% end %>