<%= form_with(model: experience, local: true) do |f| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% experience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :plot_ids, class: "form-label" %>
    <span class="badge bg-danger">必須</span>
    <div class="d-flex">
      <%= f.collection_check_boxes :plot_ids, @plots, :id, :name do |b| %>
        <div class="form-check form-check-inline">
          <%= b.check_box(class: "form-check-input") %>
          <%= b.label(class: "form-check-label") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :title, class: "form-label"%>
    <span class="badge bg-danger">必須</span>
    <%= f.text_field :title, class: "form-control#{" is-invalid" if experience.errors.include?(:title)}", placeholder: "タイトルを入力してください" %>
  </div>

  <div class="mb-3">
    <%= f.label :content, class: "form-label"%>
      <span class="badge bg-danger">必須</span>
      <button type="button" id="experience-template-button" class="btn btn-info btn-sm">記入例</button>
      <div id="content-output" contenteditable="true" class="form-control <%= "is-invalid" if experience.errors.include?(:content) %>" style="min-height: 135px;"
        data-farmer-name="<%= current_user.farmer.name %>"
        data-farmer-address="<%= current_user.farmer.address %>"
        data-farmer-product="<%= current_user.farmer.product %>">
      </div>
    <%= f.hidden_field :content, id: "hidden-content" %>
  </div>

  <div class="mb-3">
    <%= f.label :images, class: "form-label" %>
    <span class="badge bg-secondary">任意</span>
    <%= f.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= f.submit class: "btn btn-primary w-100" %>
  </div>
<% end %>