<h1>体験情報一覧</h1>

<%= link_to '体験情報を登録する', new_experience_path %>
<% @experiences.each do |experience| %>
  <div>
    <h4>区画名:</h4>
    <% experience.plots.each do |plot| %>
      <%= plot.name %>
    <% end %>
    <h2><%= link_to experience.title, experience_path(experience) %></h2>
    <p><%= experience.content %></p>
    <% experience.images.each do |image| %>
      <%= image_tag(image, alt: "Experience Image", style: "max-width: 100%;") %>
    <% end %>
    <%= link_to '詳細', experience_path(experience) %>
    <%= link_to '編集', edit_experience_path(experience) %>
    <%= link_to '削除', experience_path(experience), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  </div>
<% end %>