<div class="container experience-container">
  <h2 class="text-center mb-4"><%= @experience.title %></h2>

  <div class="d-flex justify-content-end">
    <%= render 'users/follow_form', user: @experience.farmer.user %>
    <%= render 'users/conversation_form', user: @experience.farmer.user %>
  </div>

  <% @plots.each do |plot| %>
    <span class="badge bg-info fs-5 mb-3"><%= plot.name %></span>
  <% end %> 
    
  <div class="mb-3">
    <h5><%= @experience.title %></h5>
  </div>

  <div class="my-3">
    <%= simple_format(@experience.content) %>
  </div>

  <% if @experience.images.attached? %>
    <% @experience.images.each do |image| %>
      <%= image_tag(image, alt: "体験情報画像", class: "img-fluid mb-2 ms-2", style: "max-width: 24%;") %>
    <% end %>
  <% end %>

  <hr id="detail_section">
  <h2 class="text-center mb-4">農業体験カレンダー</h2>
  
  <%= month_calendar events: @experience.schedules do |date, schedules| %>
    <%= date.strftime("%-d") %>
    <% schedules.each do |schedule| %>
      <div>
        <p><%= schedule.title %></p>
        <%= schedule.start_time.strftime("%H:%M") %> - <%= schedule.end_time.strftime("%H:%M") %>
        <% if current_user == @experience.farmer.user %>
          <%= link_to "編集", edit_experience_schedule_path(@experience, schedule), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to "削除", experience_schedule_path(@experience, schedule), method: :delete, class: "btn btn-outline-danger btn-sm" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if current_user == @experience.farmer.user %>
    <%= form_with(model: [@experience, @experience.schedules.build], local: true) do |f| %>
      <div class="mb-3">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title %>
      </div>

      <div class="mb-3">
        <%= f.label :start_time, "開始時刻" %>
        <%= f.datetime_select :start_time %>
      </div>
      
      <div class="mb-3">
        <%= f.label :end_time, "終了時刻" %>
        <%= f.datetime_select :end_time %>
      </div>

      <div class="mb-3">
        <%= f.submit "スケジュールを追加", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <div class="text-center">
    <% if current_user == @experience.farmer.user %>
      <%= link_to "体験情報一覧へ", experiences_path %>
    <% else %>
      <%= link_to "戻る", overview_farmer_path(@experience.farmer) %>
    <% end %> 
  </div>
</div>