<p>農家名: <%= @farmer.name %></p>
<p>都道府県: <%= @farmer.prefecture_id %></p>
<p>住所: <%= @farmer.address %></p>
<p>電話番号: <%= @farmer.phone_number %></p>
<p>農産物: <%= @farmer.product %></p>
<p>ウェブサイト: <%= @farmer.website %></p>
<p>農家詳細: <%= @farmer.profile %></p>