<%= form_with(model: farmer, local: true) do |f| %>
  <% if farmer.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% farmer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "農家名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :prefecture_id, "都道府県" %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "都道府県を選択してください" %> 
  </div>

  <div>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :phone_number, "電話番号" %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="nested-fields">
    <%= f.fields_for :plots do |plot_f| %>
      <%= render 'plot_fields', f: plot_f %>
    <% end %>
    <%= link_to_add_association '区画名追加', f, :plots, class: "links" %>
  </div>

  <div>
    <%= f.label :product, "農産物" %>
    <%= f.text_field :product %>
  </div>

  <div>
    <%= f.label :website, "WEBサイト" %>
    <%= f.text_field :website %>
  </div>

  <div>
    <%= f.label :image, "プロフィール画像" %>
    <%= f.file_field :image %> 
  </div>
  
  <div>
    <%= f.label :profile, "農家詳細" %>
    <%= f.text_area :profile %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>