<%= form_with(model: farmer, local: true) do |f| %>
  <% if farmer.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% farmer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 col-md-6">
    <%= f.label :name, class: "form-label" %>
    <span class="badge bg-danger">必須</span>
    <%= f.text_field :name, class: "form-control#{" is-invalid" if farmer.errors.include?(:name)}", placeholder: "農園・農家名を入力してください" %>
  </div>

  <div class="mb-3 col-md-6">
    <%= f.label :prefecture_id, class: "form-label" %>
    <span class="badge bg-danger">必須</span>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: "都道府県を選択してください" }, class: "form-select#{" is-invalid" if farmer.errors.include?(:prefecture_id)}" %>
  </div>

  <div class="mb-3 col-md-6">
    <%= f.label :address, class: "form-label" %>
    <span class="badge bg-danger">必須</span>
    <%= f.text_field :address, class: "form-control#{" is-invalid" if farmer.errors.include?(:address)}", placeholder: "農園・農地の住所を入力してください" %>
  </div>

  <div class="mb-3 col-md-6">
    <%= f.label :station, class: "form-label" %>
    <span class="badge bg-danger">必須</span>
    <%= f.text_field :station, class: "form-control#{" is-invalid" if farmer.errors.include?(:station)}", placeholder: "最寄り駅を入力してください" %>
  </div>

  <div class="nested-fields mb-3">
    <%= f.fields_for :plots do |plot_f| %>
      <%= render 'plot_fields', f: plot_f %>
    <% end %>
    <%= link_to_add_association '農地カテゴリ追加', f, :plots, class: "links" %>
  </div>

  <div class="mb-3 col-md-6">
    <%= f.label :product, class: "form-label" %>
    <span class="badge bg-danger">必須</span>
    <%= f.text_field :product, class: "form-control#{" is-invalid" if farmer.errors.include?(:product)}", placeholder: "農作物を入力してください" %>
  </div>

  <div class="mb-3 col-md-6">
    <%= f.label :website, class: "form-label" %>
    <span class="badge bg-secondary">任意</span>
    <%= f.text_field :website, class: "form-control#{" is-invalid" if farmer.errors.include?(:website)}", placeholder: "WebサイトのURLを入力してください" %>
  </div>

  <div class="mb-3 col-md-6">
    <%= f.label :image, class: "form-label" %>
    <span class="badge bg-secondary">任意</span>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :profile, class: "form-label" %>
    <span class="badge bg-secondary">任意</span>
    <button type="button" id="template-button" class="btn btn btn-info btn-sm">記入例</button>
    <div id="profile-output" contenteditable="true" class="form-control <%= "is-invalid" if farmer.errors.include?(:profile) %>" style="min-height: 135px;"></div>
    <%= f.hidden_field :profile, id: "hidden-profile" %>
  </div>

  <div class="mb-4">
    <%= f.submit class: "btn btn-primary w-100" %>
  </div>
<% end %>