<% content_for :main_image do %>
  <div class="main-image">
    <%= image_tag "main_image.jpg", alt: "Main Image", class: "img-fluid" %>
  </div>
<% end %>

<%= render 'search', q: @q, url: root_path %>

<button id="toggleMap">地図を表示</button>
<div id="map" data-farmers="<%= @farmers.to_json(only: [:id, :name, :latitude, :longitude, :address]) %>"></div>

<script type="text/javascript">
  let map;
  let markers = [];

  function fitBounds(map, markers) {
    if (markers.length === 0) return;

    const bounds = new google.maps.LatLngBounds();
    markers.forEach((marker) => {
      bounds.extend(marker.getPosition());
    });

    map.fitBounds(bounds);
  }

  function initMap() {
    const mapElement = document.getElementById('map');
    const farmersData = JSON.parse(mapElement.dataset.farmers);
    const defaultCenter = { lat: 38.5, lng: 139 };

    const mapInstance = new google.maps.Map(mapElement, {
      zoom: 6.3,
      center: defaultCenter,
    });

    map = mapInstance;

    farmersData.forEach((farmer) => {
      const farmerPosition = { lat: farmer.latitude, lng: farmer.longitude };

      const contentString = `<a href="/farmers/${farmer.id}/overview">${farmer.name}</a><br>住所：${farmer.address}`;

      const infowindow = new google.maps.InfoWindow({
        content: contentString,
      });

      const marker = new google.maps.Marker({
        position: farmerPosition,
        map: map,
        title: contentString,
      });

      markers.push(marker);

      marker.addListener('click', function () {
        infowindow.open(map, marker);
      });
    });
  }

  document.getElementById('toggleMap').addEventListener('click', function () {
    const mapElement = document.getElementById('map');
    if (mapElement.style.display === 'none') {
      mapElement.style.display = 'block';
      this.textContent = '地図を非表示';
      fitBounds(map, markers);
    } else {
      mapElement.style.display = 'none';
      this.textContent = '地図を表示';
    }
  });
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<div class="container">
  <div class="row">
    <% @farmers.each do |farmer| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if farmer.image.attached? %>
            <%= image_tag farmer.image, alt: "Farmer Image", class: "card-img-top" %>
          <% else %>
            <p>No image uploaded.</p>
          <% end %>
          <div class="card-body">
            <h3 class="card-title"><%= farmer.name %></h3>
            <p class="card-text"><%= farmer.prefecture.name %></p>
            <p class="card-text"><%= farmer.product %></p>
            <%= link_to '詳細', overview_farmer_path(farmer), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>