<%= form_with(model: post, local: true) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :title, class: "form-label"%>
    <span class="badge bg-danger">必須</span>
    <%= f.text_field :title, class: "form-control#{" is-invalid" if post.errors.include?(:title)}", placeholder: "タイトルを入力してください" %>
  </div>

  <div class="mb-3">
    <%= f.label :content, class: "form-label"%>
    <span class="badge bg-secondary">任意</span>
    <%= f.text_area :content, class: "form-control", placeholder: "内容を入力してください", rows: 12 %>
  </div>

  <div class="mb-3">
    <%= f.label :images, class: "form-label" %>
    <span class="badge bg-secondary">任意</span>
    <%= f.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= f.submit class: "btn btn-primary w-100" %>
  </div>
<% end %>