<%= form_with(model: general, local: true) do |f| %>
  <% if general.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% general.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, "ユーザーネーム" %>
  <%= f.text_field :name %>
  <%= f.label :prefecture_id, "検索エリア"  %>
  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "都道府県を選択してください" %>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <%= f.label :favorite_crop, "好きな農作物" %>
  <%= f.text_field :favorite_crop %>
  <%= f.label :image, "プロフィール写真" %>
  <%= f.file_field :image %>
  <%= f.submit %>
<% end %>